@charset "utf-8";
/* CSS Document */
body {
  width: 100vw;
  height: 100vh;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
}

.converter-table {
  border-collapse: separate;
  border-spacing: 5px;
  margin : 12px auto 20px auto;
}

.converter-table tbody td {
  width : 60px;
  height: 5px;
  border : 1px solid black;
}

.sort-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sort-logger {
  justify-content: space-evenly;
}

.sort-controller {
  margin-top : 0px;
}

.sort-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex : 0 0 50px;
}

.sort-legend {
  flex-direction: column;
  align-items: baseline;
  margin-left : 25%;
}

.sort-content {
  height: 50px;
  border: 1px solid black;
}

.sort-cursor {
  color: #069;
  font-size: 1.5em;
}

.sort-container button {
  width: 100px;
  font-size: 1em;
  cursor: pointer;
}

.sort-label {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-width: medium;
  vertical-align: middle;
}

.sorted {
  background-color: black;
  color : white;
  border-color: #eee;
}

.compared {
  border-color: blue;
  border-width: medium;
}

.minimum {
  border-color: red;
  border-width: medium;
}

.hidden {
  display: none;
}

.filled {
  background-color: #069;
}

.empty {
  border : none;
  background-color: transparent;
}

.center {
  text-align: center;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}

iframe {
  border : 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.footer img {
  width : 100px;
  margin-right: 5px;
}

button:hover {
  cursor: pointer;
}
